@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.back--icon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.back--link {
  display: flex;
  align-items: end;
  padding-top: 24px;
  font-size: $linkFontSize;
  font-weight: $buttonWeight;
  text-decoration: none;
  color: $textColor;

  @include onDesktop() {
    padding-top: 40px;
  }
}

.cards-container {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;

  @include onTablet() {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop() {
    grid-template-columns: repeat(24, 1fr);
  }
}

.page {
  padding-bottom: 56px;
  background-color: $backgroundColor;

  @include onTablet() {
    padding-bottom: 64px;
  }

  @include onDesktop() {
    padding-bottom: 60px;
  }

  &__body {
    margin: 0 16px;

    @include onTablet() {
      margin: 0 24px;
    }

    @include onDesktop() {
      margin: 0 32px;
    }
  }
}

.cart-title {
  margin-top: 24px;
  font-size: $minorTitleFontSize;
  font-weight: $titleWeight;
  line-height: 41px;
  color: $textColor;

  @include onDesktop() {
    margin-top: 16px;
    font-size: $titleFontSize;
    line-height: 56px;
  }
}

.button {
  &-checkout {
    width: 320px;
    height: 48px;
    cursor: pointer;
    color: $textColor;
    background-color: $buttonCheckoutColor;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
  }
}

.total-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  padding: 0 24px;
  width: 100%;
  height: 206px;
  border: 2px solid $borderColor;

  &__price {
    margin: 23px 0 0;
    font-size: $minorTitleFontSize;
    font-weight: $titleWeight;
    color: $textColor;
  }

  &__items {
    margin: 0;
    font-size: $minorTextFontSize;
    font-weight: $textWeight;
    line-height: 21px;
    color: $secondaryTextColor;
  }

  &__button {
    position: relative;
    margin-top: 49px;
    width: 100%;
    font-size: $minorTextFontSize;
    font-weight: $buttonWeight;
    line-height: 21px;
    border: 0;

    &::before {
      content: '';
      position: absolute;
      top: -24px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $borderColor;
    }
  }

  grid-column: 1 / -1;

  @include onDesktop() {
    grid-column: 17 / -2;
  }
}

.cards {
  margin-top: 16px;
  row-gap: 16px;
  grid-column: 1 / -1;

  @include onDesktop() {
    grid-column: 1 / -9;
  }
}

.empty-cart-text {
  padding-top: 30px;
  font-size: 50px;
  color: $textColor;
}
