@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

h1 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
}

.back--icon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.back--link {
  display: flex;
  padding-top: 24px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: $textColor;

  @include onDesktop() {
    padding-top: 40px;
  }
}

.cards-container {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;

  @include onTablet() {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop() {
    grid-template-columns: repeat(24, 1fr);
  }
}

.container {
  margin: auto;
  max-width: 1200px;
}

.page {
  padding-bottom: 56px;
  background-color: $backgroundColor;

  @include onTablet() {
    padding-bottom: 64px;
  }

  @include onDesktop() {
    padding-bottom: 60px;
  }

  &__body {
    margin: 0 16px;

    @include onTablet() {
      margin: 0 24px;
    }

    @include onDesktop() {
      margin: 0 32px;
    }
  }
}

.title {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  color: $textColor;

  @include onDesktop() {
    margin-top: 16px;
    font-size: 48px;
    line-height: 56px;
  }
}

.button {
  &-delete {
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }

  &-counter {
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }

  &-checkout {
    width: 320px;
    height: 48px;
    cursor: pointer;
    color: $textColor;
    background-color: $buttonCheckoutColor;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;

    &:hover {
      background-color: $buttonCheckoutHoverColor;
    }
  }
}

.total-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 32px;
  padding: 0 24px;
  width: 100%;
  height: 206px;
  border: 2px solid $borderColor;

  &__price {
    margin: 23px 0 0;
    font-size: 32px;
    font-weight: 800;
    color: $textColor;
  }

  &__items {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $secondaryTextColor;
  }

  &__button {
    position: relative;
    margin-top: 49px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    border: 0;

    &::before {
      content: '';
      position: absolute;
      top: -24px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $borderColor;
    }
  }

  grid-column: 1 / -1;

  @include onDesktop() {
    grid-column: 17 / -2;
  }
}

.cards {
  margin-top: 16px;
  grid-column: 1 / -1;

  @include onDesktop() {
    grid-column: 1 / -9;
  }
}

.cart-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  padding: 16px 16px 0;
  background-color: $cardColor;

  @include onTablet() {
    flex-direction: row;
  }

  @include onDesktop() {
    padding: 24px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-left: 16px;

    @include onDesktop() {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;

    @include onDesktop() {
      padding-bottom: 0;
    }
  }

  &__close {
    margin-right: 16px;

    @include onTablet() {
      margin-right: 24px;
    }
  }

  &__photo {
    width: 80px;

    @include onDesktop() {
      margin-right: 24px;
    }
  }

  &__text {
    padding: 16px;
    min-width: 128px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    column-gap: 24px;
    color: $textColor;

    @include onTablet() {
      max-width: 176px;
    }

    @include onDesktop() {
      padding: 0;
      column-gap: 0;
      max-width: 336px;
    }
  }

  &__counter {
    display: flex;

    &--count {
      margin: 6px 14px 0 13px;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      color: $textColor;
    }
  }

  &__price {
    margin-left: 24px;
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
    color: $textColor;
  }

  grid-column: 1 / -1;
}
