@import '~normalize.css';
@import 'src/utils/variables';
@import 'src/utils/mixins';

.button {
  &-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: $textColor;
    background-color: $cardColor;
    border: 0;
    transition: background-color 0.3s;

    &--number {
      &:hover {
        background-color: $buttonActiveColor;
      }

      &:active {
        background-color: $buttonCheckoutColor;
      }

      &-is-active {
        background-color: $buttonCheckoutColor;

        &:hover {
          background-color: $buttonCheckoutColor;
        }
      }
    }
  }
}
