/* stylelint-disable */
@import '~normalize.css';
@import 'src/utils/variables';
@import 'src/utils/mixins';

.button-dropdown {
  &__control {
    color: $textColor !important;
    background-color: $buttonActiveColor !important;
    border: 0 !important;
    color: $textColor !important;
    cursor: pointer !important;
    box-shadow: none !important;
  }

  &__option {
    cursor: pointer !important;

    &--is-focused {
      background-color: lighten($buttonActiveColor, 8%) !important;
    }
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicator {
    color: $secondaryTextColor !important;

    &:hover {
      color: $textColor !important;
    }
  }
}

.css-1dimb5e-singleValue {
  font-size: 14px !important;
  color: $textColor !important;
}

.css-1nmdiq5-menu {
  color: $textColor !important;
  background-color: $buttonActiveColor !important;
}

.sort-buttons {
  &-text {
    width: 88px;
    margin-bottom: 4px;
    font-size: $linkFontSize;
    font-weight: $buttonWeight;
    color: $secondaryTextColor;
  }

  &--button {
    grid-column: span 2;

    @include onTablet() {
      grid-column: span 4;
    }
  }
}
