.buttonb {
  &__back {
    display: flex;
    align-items: center;
    padding-top: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #89939a;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    tab-size: 12px;

    &--icon {
      position: relative;
    }
  }
}
