@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.promo-swiper {
  overflow-y: visible;
}

.promo-title {
  margin: 10px 0;
  max-width: 136px;
  font-size: $highTextFontSize;
  font-weight: $titleWeight;
  letter-spacing: -0.32px;
  line-height: 41px;
  color: $textColor;

  @media (min-width: $tabletMinWidth) {
    max-width: $tabletMinWidth;
    font-size: $minorTitleFontSize;
  }
}

.promo-slider {
  position: relative;
  margin-top: 100px;
  margin-right: -16px;

  @include onTablet {
    margin-right: -24px;
  }

  @include onDesktop {
    margin-right: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: -24px;
    display: flex;
    width: 32px;
    height: 32px;
    color: $textColor;
    background-color: $buttonActiveColor;
  }

  .swiper-button-prev {
    right: 70px;
    left: auto;

    @include onDesktop {
      right: 50px;
      left: auto;
    }
  }

  .swiper-button-next {
    right: 25px;
    left: auto;

    @include onDesktop {
      right: 0;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: $minorButtonFontSize;
  }

  .swiper-button-disabled {
    color: $secondaryTextColor;
  }
}
