@import 'src/utils/variables';
@import 'src/utils/mixins';

.container {
  margin: auto;
  max-width: 1200px;
}

.favourite-page {
  padding-top: 24px;
  padding-bottom: 56px;
  height: calc(100vh - 190px);
  background-color: $backgroundColor;

  @include onTablet() {
    padding-bottom: 64px;
  }

  @include onDesktop() {
    padding-bottom: 60px;
  }

  &__body {
    margin: 0 16px;

    @include onTablet() {
      margin: 0 24px;
    }

    @include onDesktop() {
      margin: 0;
    }
  }
}

.link--favourites {
  display: flex;
  align-items: center;
  font-weight: $textWeight;
  text-decoration: none;
  tab-size: 12px;
  color: $secondaryTextColor;

  &__icon {
    margin-right: 8px;
  }
}

.title {
  margin-top: 24px;
  font-size: $minorTitleFontSize;
  font-weight: $titleWeight;
  line-height: 41px;
  color: $textColor;

  @include onTablet() {
    margin-top: 40px;
    font-size: $titleFontSize;
    line-height: 56px;
  }
}

.items-count {
  margin-top: 8px;
  font-size: $minorButtonFontSize;
  font-weight: $textWeight;
  line-height: 21px;
  color: $secondaryTextColor;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  gap: 40px 16px;
  margin-top: 32px;
  grid-column: 1 / -1;

  @include onTablet() {
    margin-top: 40px;
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop() {
    grid-template-columns: repeat(24, 1fr);
  }
}

.card {
  &__container {
    width: 100%;
    grid-column: span 6;
  }
}
