@import '../../utils/variables.scss';

// Комментарий по необходимости

.upbtn {
  position: fixed;
  bottom: -80px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5px;
  height: 32px;
  cursor: pointer;
  background-color: rgba($backgroundColor, 0.7);
  border: 0;
  border-radius: 5px;
  z-index: 9999;
  transition: all 0.7s ease-in-out;

  @media screen and (max-width: 639px) {
    bottom: 50%;
    right: 50%;
  }

  &__text {
    font-size: $linkFontSize;
    font-family: Mont, sans-serif;
    font-weight: $buttonWeight;
    color: $secondaryTextColor;
    transition:
      color 0.3s,
      transform 0.3s;
    transform: scale(1);
  }

  &:hover {
    transform: scale(1.2);
  }

  &__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    width: 16px;
    height: 16px;
    background-color: $buttonActiveColor;

    svg {
      transition: transform 0.3s;
      transform: scale(1);

      &:hover {
        transform: scale(1.6);
      }
    }
  }
}