@import '~normalize.css';
@import 'src/utils/variables';
@import 'src/utils/mixins';

.icon--heart {
  width: 16px;
  height: 16px;
}

.container {
  @include contentPaddingInline;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  color: $textColor;
  background: $cardColor;
  transition: transform 300ms;

  &:hover {
    transform: scale(1.1);
  }

  &__img {
    margin: 0 auto 8px;
    width: 208px;
    height: 196px;
    object-fit: contain;
  }

  &__name {
    width: 100%;
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 8px;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;

    &__real {
      margin-left: 8px;
      font-weight: 600;
      text-decoration: line-through;
      color: $secondaryTextColor;
    }
  }

  &__hr {
    margin: 8px 0;
    width: 100%;
    height: 1px;
    background-color: $borderColor;
    border: 0;
  }

  &__properties {
    display: flex;
    width: 100%;
    margin-bottom: 16px;

    &__list {
      padding-left: 0;
      width: 100%;
      list-style: none;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      font-size: 12px;
      font-weight: 600;
      color: $textColor;

      &__property {
        color: $secondaryTextColor;
      }
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    gap: 8px;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      line-height: 21px;
      color: #f1f2f9;
      background-color: $buttonCheckoutColor;
      border: 0;
      transition: background-color 0.3s;

      &:hover {
        background-color: $buttonCheckoutHoverColor;
      }

      &:active {
        background-color: $buttonActiveColor;
      }
    }

    &__heart {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 50px;
      height: 40px;
      font-size: 24px;
      text-decoration: none;
      line-height: 21px;
      color: $textColor;
      background-color: transparent;
      border: 1px solid $borderColor;
      transition: background-color 0.3s;

      &:hover {
        background-color: $borderColor;
      }

      &:active {
        color: $errorStatusColorShadow;
      }
    }
  }
}
