@import 'src/utils/variables';
@import 'src/utils/mixins';

.nav {
  height: 100%;

  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    height: 100%;

    @include onTablet() {
      display: flex;
      gap: 32px;
    }

    @include onDesktop() {
      gap: 64px;
    }
  }

  &__item {
    list-style-type: none;

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: $linkFontSize;
      font-family: Mont, sans-serif;
      font-style: normal;
      font-weight: $titleWeight;
      text-decoration: none;
      letter-spacing: 0.48px;
      line-height: 11px;
      text-transform: uppercase;
      color: $secondaryTextColor;
      transition: color 0.3s;

      &:hover {
        color: $textColor;
      }
    }
  }
}

.is-active {
  position: relative;
  color: $textColor;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $textColor;
  }
}
