@import '../../utils/variables.scss';

.bread {
  &__container {
    display: flex;
    align-items: start;
    padding-top: 20px;

    &--home {
      display: block;
      padding-right: 5px;
      max-width: 100%;
      height: 20px;
      object-fit: cover;
    }

    &--arrow {
      display: block;
      padding-right: 5px;
      max-width: 100%;
      height: 20px;
      object-fit: cover;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;

}

.breadcrumbs > * {
  display: flex;
}

.breadcrumbs .crumb:last-child::after {
  display: none;
}

.breadcrumbs .crumb a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: Mont, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #75767f;
  text-transform: capitalize;
}
