$tabletMinWidth: 639px;
$desktopMinWidth: 1200px;

$errorStatusColorShadow: #eb5757;
$backgroundColor: #0f1121;
$cardColor: #161827;
$borderColor: #3b3e4a;
$buttonColor: #3b3e4a;
$buttonActiveColor: #323542;
$borderColorHeader: #3b3e4a;
$iconsColor: #4a4d58;
$secondaryTextColor: #75767f;
$selectedTextColor: #ffff;
$textColor: #f1f2f9;
$buttonCheckoutColor: #905bff;
$buttonCheckoutHoverColor: #a378ff;
$buttonAvailableColor: #fcdbc1;
$categoryHeaderColor: #f1f2f9;

$goldColor: #ffd700;
$silverColor: #c0c0c0;
$starlightColor: #f8f9ec;
$midnightColor: #191970;
$purpleColor: #800080;
$spaceGrayColor: #717378;
$blueColor: #00f;
$greenColor: #008000;
$roseGoldColor: #b76e79;
$spaceblackColor: #333334;
$blackColor: #000;
$pinkColor: #ffc0cb;
$redColor: #f00;
$midnightgreenColor: #004953;
$skyBlueColor: #87ceeb;
$graphiteColor: #251607;
$coralColor: #ff7f50;
$sierrablueColor: #69abce;
$yellowColor: #ff0;
$whiteColor: #fff;

$columnsMobile: 4;
$columnsTablet: 12;
$columnsDesktop: 24;

$paddingInlineMobile: 16px;
$paddingInlineTablet: 24px;
$paddingInlineDesktop: 32px;

$buttonFontSize: 16px;
$minorButtonFontSize: 14px;
$highTextFontSize: 22px;
$textFontSize: 20px;
$minorTextFontSize: 14px;
$heartFontSize: 24px;
$linkFontSize: 12px;
$titleFontSize: 48px;
$minorTitleFontSize: 32px;
$contentTitleFontSize: 16px;
$errorFontSize: 250px;
$errorMessageFontSize: 50px;
$errorTypeFontSize: 40px;

$titleWeight: 800;
$textWeight: 600;
$buttonWeight: 700;

$successColor: #27ae60;
