$tablet-min-width: 639px;
$desktop-min-width: 1200px;

$accent: #e8e9ee;
$green: #27ae60;
$red: #eb5757;
$elements: #3b3e4a;
$surface_2: #323542;

$iconsColor: #4a4d58;
$backgroundColor: #0f1121;
$borderColor: #3b3e4a;
$textColor: #f1f2f9;
$cardColor: #161827;
$secondaryTextColor: #75767F;
$buttonCheckoutColor: #905BFF;
$buttonCheckoutHoverColor: #A378FF;
$buttonActiveColor: #323542;

$backgroundColor: #0f1121;
$borderColor: #3b3e4a;
$textColor: #75767f;
$selectedTextColor: #ffff;

$backgroundColor: #0f1121;
$borderColor: #3b3e4a;
$textColor: #f1f2f9;
$cardColor: #161827;
$secondaryTextColor: #75767f;
$buttonCheckoutColor: #905bff;
$buttonCheckoutHoverColor: #a378ff;


$backgroundColor: #0f1121;
$borderColor: #3b3e4a;
$textColor: #f1f2f9;
$cardColor: #161827;
$secondaryTextColor: #75767f;
$buttonCheckoutColor: #905bff;
$buttonCheckoutHoverColor: #a378ff;


