$tabletMinWidth: 639px;
$desktopMinWidth: 1200px;

//$accent: #e8e9ee;
//$green: #27ae60;
//$elements: #3b3e4a;
//$surface_2: #323542;
//$textColor: #75767f;

$errorStatusColorShadow: #eb5757;
$backgroundColor: #0f1121;
$cardColor: #161827;
$borderColor: #3b3e4a;
$buttonColor: #3b3e4a;
$buttonActiveColor: #323542;
$borderColorHeader: #3b3e4a;
$iconsColor: #4a4d58;
$secondaryTextColor: #75767f;
$selectedTextColor: #ffff;
$textColor: #f1f2f9;
$buttonCheckoutColor: #905bff;
$buttonCheckoutHoverColor: #a378ff;
$buttonAvailableColor: #fcdbc1;
$categoryHeaderColor: #f1f2f9;
$successColor: #27ae60;
