@import "../../utils/variables.scss";
@import "~normalize.css";

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.row > .column {
  padding: 10px;
}

.width-1-3 {
  width: 33.33%;
}

.section-by-category {
  &__title {
    font-size: 32px;
    font-family: Mont, sans-serif;
    font-weight: 800;
    letter-spacing: -0.32px;
    line-height: 41px;
    color: $categoryHeaderColor;
  }
}

.category-card {
  &__title {
    font-size: 20px;
    font-family: Mont, sans-serif;
    font-weight: 700;
    color: $categoryHeaderColor;
  }

  &__subtitle {
    font-size: 14px;
    font-family: Mont, sans-serif;
    font-weight: 600;
    line-height: 21px;
    color: $categoryHeaderColor;
  }

  &__image {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
