.main__body {
  margin: 0 auto;
  max-width: auto;
  background-color: #0F1121;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px;

  @media (max-width: 639px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__image {
    display: flex;
  }

  &__image--blocks {
    width: 120px;
    height: 60px;
  }

  &__info {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  &__list {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 0 100px;

    @media  (max-width: 860px) {
      gap: 13.5px;
  }

    @media (max-width: 639px) {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

  }

  &__item {
    font-weight: 800;
    font-size: 12;
  }

  &__link {
    text-decoration: none;
    color: #F1F2F9;
  }

  &__button {
    // position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }

  &__button--text {
    font-weight: 700;
    font-size: 12;
    color: #F1F2F9;
    display: inline-block;
    // padding: 16px 16px 16px 90px;
  }

  &__button--up {
    // position: absolute;
    border: 2px solid #323542;
    background-color: #323542;

    height: 32px;
    width: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    color: #e6e6e6;

    // border: 0;
    cursor: pointer;

    &.active {
      color: #737373;
    }

    &:before {
      content: "❯";
      transform: translateY(2px) rotate(270deg);
      line-height: 0;
    }
  }
}
