@import '~normalize.css';
@import 'src/utils/variables';
@import 'src/utils/mixins';

.main {
  max-width: 1200px;

  &__body {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $backgroundColor;
  }
}

.footer {
  display: grid;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 32px;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid $borderColor;

  // @include contentPaddingInline;
  // @mixin onTablet {
  //   gap: 24px;
  // }

  @media (max-width: 639px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
  }

  &__image {
    display: flex;
  }

  &__image--blocks {
    width: 64px;
    height: 23px;

    @include onDesktop() {
      width: 80px;
      height: 28px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.2;
    // margin-right: 100px;

    font-family: Mont-Bold, sans-serif;

    @media (max-width: 639px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 16px;
    }
  }

  &__list {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.48px;
    line-height: 11px;

    // @media (max-width: 860px) {
    //   gap: 13px;
    // }

    @media (max-width: 639px) {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  &__item {
    font-size: $linkFontSize;
    font-weight: $titleWeight;
  }

  &__link {
    font-size: $linkFontSize;
    font-weight: $titleWeight;
    text-decoration: none;
    letter-spacing: 0.48px;
    line-height: 11px;
    color: $textColor;
    font-style: normal;

    &:hover {
      text-shadow: 0 0 10px #0f0, 0 0 20px #00f, 0 0 30px #f00;
    }

    @media (max-width: 639px) {
      display: flex;
      flex-direction: column;
      padding: 0;
      transition: color 0.3s;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
    }

    &__button--text {
      display: inline-block;
      font-size: $linkFontSize;
      font-weight: $buttonWeight;
      color: $textColor;
    }
  }
}
