@import '~normalize.css';
@import 'src/utils/variables';
@import 'src/utils/mixins';

.main {
  max-width: 1200px;

  &__body {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $backgroundColor;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 32px;

  @media (max-width: 639px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__image {
    display: flex;
  }

  &__image--blocks {
    width: 120px;
    height: 60px;
  }

  &__info {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  &__list {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 0 100px;

    @media (max-width: 860px) {
      gap: 13px;
    }

    @media (max-width: 639px) {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  &__item {
    font-size: 12px;
    font-weight: 800;
  }

  &__link {
    text-decoration: none;
    color: #f1f2f9;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }

  &__button--text {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: $textColor;
  }

  &__button--up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: #e6e6e6;
    background-color: #323542;
    border: 2px solid #323542;
    cursor: pointer;

    &.active {
      color: #737373;
    }

    &::before {
      content: '❯';
      transform: translateY(2px) rotate(270deg);
      line-height: 0;
    }
  }
}
