@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* stylelint-disable-next-line */
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    background-color: $backgroundColor;
    border: 1px solid $blueColor;
    border-radius: 15px;
    transform: scale(0.5);
    transition: transform 0.4s;

    &.active {
      transform: scale(1);
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__title {
    font-size: 30px;
    color: $textColor;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    font-size: 20px;
  }

  &__button {
    cursor: pointer;
    padding: 15px 40px;
    color: $textColor;
    border: 1px solid $blueColor;
    border-radius: 5px;
    transition: all 0.5s;

    &-cancel {
      background-color: transparent;

      &:hover {
        color: $backgroundColor;
        background-color: $errorStatusColorShadow;
      }
    }

    &-success {
      background-color: $blueColor;

      &:hover {
        color: $backgroundColor;
        background-color: $successColor;
      }
    }
  }
}
