@import './utils/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Mont, sans-serif;
  background-color: $backgroundColor;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
