/* disable-eslint */

.hero-title {
  font-size: 48px;
  font-family: Mont, sans-serif;
  font-weight: 800;
  text-align: left;
  letter-spacing: -0.48px;
  line-height: 56px;
  color: #f1f2f9;
}

.header-swiper {
  position: relative;
  overflow-y: visible;
}

.swiper {
  &-pagination-bullet {
    width: 14px;
    height: 4px;
    background-color: #3b3e4a;
    border-radius: 0;

    &-active {
      background-color: #f1f2f9;
    }
  }

  &-button {
    &-next {
      right: var(--swiper-navigation-sides-offset, 0);
      display: none;

      &::after {
        font-size: 16px;
      }

      @media (min-width: 640px) {
        top: 22px;
        display: flex;
        height: 100%;
        color: #f1f2f9;
        background-color: #323542;
      }
    }

    &-prev {
      left: var(--swiper-navigation-sides-offset, 0);
      display: none;

      &::after {
        font-size: 16px;
      }

      @media (min-width: 640px) {
        top: 22px;
        display: flex;
        height: 100%;
        color: #f1f2f9;
        background-color: #323542;
      }
    }
  }

  &-button-disabled {
    color: #75767f;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (min-width: 1200px) {
    max-height: 400px;
  }

  &__banner-desktop {
    display: none;

    @media (min-width: 640px) {
      display: block;

      /* max-width: 490px; */
    }

    @media (min-width: 1200px) {
      /* max-width: 1040px; */
    }
  }

  &__banner-mob {
    display: block;

    @media (min-width: 640px) {
      display: none;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets {
  position: absolute;
  bottom: -24px;
}