@import '~normalize.css';
@import 'src/utils/variables';
@import 'src/utils/mixins';

.hero-title {
  font-family: Mont, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
  color: $textColor;
  text-align: left;
}

.header-swiper {
  position: relative;
  overflow-y: visible;

  @mixin onTablet {
    max-width: 592px;
    max-height: 200px;
  }

  @mixin onDesktop {
    max-width: 1136px;
    max-height: 400px;
  }
}
.swiper {
  &-pagination-bullet {
    width: 14px;
    height: 4px;
    border-radius: 0;
    background-color: $borderColor;
    &-active {
      background-color: $textColor;
    }
  }

  &-button {
    &-next,
    &-prev {
      display: none;
      &::after {
        font-size: 16px;
      }

      @mixin onTablet {
        display: flex;
        color: #f1f2f9;
        background-color: $buttonActiveColor;
        height: 100%;
        top: 22px;
      }
    }
  }
  &-button-disabled {
    color: $textColor;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @mixin onTablet {
    max-width: 592px;
    max-height: 189px;
  }

  @mixin onDesktop {
    max-width: 1136px;
    max-height: 400px;
  }

  &__banner-desktop {
    display: none;
    @mixin onTablet {
      display: block;
      max-width: 490px;
    }

    @mixin onDesktop {
      max-width: 1040px;
    }
  }

  &__banner-mob {
    display: block;

    @mixin onDesktop {
      display: none;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets {
  position: absolute;
  bottom: -24px;
}
