/* stylelint-disable */

.hero-title {
  font-family: Mont, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
  color: #f1f2f9;
  text-align: left;
}

.header-swiper {
  position: relative;
  overflow-y: visible;
  // @media (min-width: 640px) {
  //   max-width: 592px;
  //   max-height: 200px;
  // }
  // @media (min-width: 1200px) {
  //   max-width: 1136px;
  //   max-height: 400px;
  // }
}

.swiper {
  &-pagination-bullet {
    background-color: #3b3e4a; /* Изменено: Перемещено после background-color */
    border-radius: 0;
    height: 4px; /* Изменено: Перемещено после background-color */
    width: 14px; /* Изменено: Перемещено после background-color */

    &-active {
      background-color: #f1f2f9;
    }
  }

  &-button {
    &-next,
    &-prev {
      display: none;
      &::after {
        font-size: 16px;
      }

      @media (min-width: 640px) {
        background-color: #323542; /* Изменено: Перемещено после color */
        color: #f1f2f9; /* Изменено: Перемещено после background-color */
        display: flex;
        height: 100%; /* Изменено: Перемещено после display */
        top: 22px; /* Изменено: Перемещено после height */
      }
    }
  }

  &-button-disabled {
    color: #75767f;
  }
}

.slide {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media (min-width: 1200px) {
    max-height: 400px; /* Изменено: Перемещено после max-width */
  }

  @media (min-width: 640px) {
    /* max-height: 189px; */
    /* max-width: 592px; */
  }

  &__banner-desktop {
    @media (min-width: 1200px) {
      /* max-width: 1040px; */
    }

    @media (min-width: 640px) {
      display: block;
      /* max-width: 490px; */
    }

    display: none;
  }

  &__banner-mob {
    @media (min-width: 640px) {
      display: none;
    }

    display: block;
  }
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: -24px;
  position: absolute;
}
