@import '~normalize.css';
@import 'src/utils/variables';

.section-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $backgroundColor;
}

.error {
  &__status {
    margin: 30px 0;
    font-size: $errorFontSize;
    font-weight: bolder;
    text-shadow: 3px 3px 3px $errorStatusColorShadow;
    animation: scale 1s alternate infinite;
  }

  &__message {
    font-size: $errorMessageFontSize;
    color: $textColor;
  }

  &__type {
    font-size: $errorTypeFontSize;
    font-weight: $textWeight;
    color: $textColor;
  }
}

.homepage-link {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: $buttonFontSize;
  text-decoration: none;
  color: $textColor;
  border: 1px solid $textColor;
  border-radius: 10px;
  transition: all 0.5s;

  &:hover {
    text-decoration: underline;
    color: $backgroundColor;
    background-color: $backgroundColor;
    border-color: $backgroundColor;
  }

  &::after {
    content: url('../../images/home.svg');
    margin-left: 10px;
  }

  &:hover::after {
    filter: invert(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
