@import '~normalize.css';
@import 'src/utils/variables';

.section-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error {
  &__status {
    font-size: 250px;
    font-weight: bolder;
    margin: 30px 0;
    text-shadow: 3px 3px 3px $errorStatusColorShadow;
    animation: scale 1s alternate infinite;
  }

  &__message {
    font-size: 50px;
    color: $textColor;
  }

  &__type {
    font-size: 40px;
    font-weight: 600;
    color: $textColor;
  }
}

.homepage-link {
  color: #f1f2f9;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid $textColor;
  transition: all 0.5s;

  &:hover {
    text-decoration: underline;
    color: $backgroundColor;
    border-color: $backgroundColor;
    background-color: $backgroundColor;
  }

  &::after {
    content: url('./images/Home.svg');
    margin-left: 10px;
  }

  &:hover::after {
    filter: invert(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  0% {
    transform: scale(1.2);
  }
}
