@import "~normalize.css";
@import "src/utils/variables";

.section-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: $paddingInlineMobile;
  height: 100vh;
  background-color: $backgroundColor;

  @media (min-width: $tabletMinWidth) {
    padding-inline: $paddingInlineTablet;
  }

  @media (min-width: $desktopMinWidth) {
    padding-inline: $paddingInlineDesktop;
  }
}

.error {
  &__status {
    margin: 30px 0;
    font-size: $errorFontSizeMobile;
    font-weight: bolder;
    text-shadow: 3px 3px 3px $errorStatusColorShadow;
    animation: scale 1s alternate infinite;

    @media (min-width: $tabletMinWidth) {
      font-size: $errorFontSizeTablet;
    }

    @media (min-width: $desktopMinWidth) {
      font-size: $errorFontSizeDesctop;
    }
  }

  &__message {
    font-size: $errorMessageFontSizeMobile;
    text-align: center;
    color: $textColor;

    @media (min-width: $tabletMinWidth) {
      font-size: $errorMessageFontSizeTablet;
    }
  }

  &__type {
    font-size: $errorTypeFontSize;
    font-weight: $textWeight;
    text-align: center;
    color: $textColor;
  }
}

.homepage-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  font-size: $buttonFontSize;
  text-decoration: none;
  color: $textColor;
  border: 1px solid $textColor;
  border-radius: 10px;
  transition: all 0.5s;

  &:hover {
    text-decoration: underline;
    color: $backgroundColor;
    background-color: $textColor;
    border-color: $backgroundColor;
  }

  &::after {
    content: url("../../images/home.svg");
    margin-left: 10px;
  }

  &:hover::after {
    filter: invert(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
